@charset "utf-8";
@import "normalize";

html {
  height: 100%;
}
body {
  background: #C8CBCC;
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  height: 100%;
  width: 100%;
}

h1 {
  color: black;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 5em;
  font-weight: 400;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.welcome {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.intro:hover {
  .name {
    border-bottom: 2px solid #ECC561;
  }

  .about {
    display: flex;
  }
}


.intro {
  width: 50%;
  .about {
    padding: 5%;
    display: none;
  }
}

.icons {
  padding: 5%;
}

.icon:hover {
  border-bottom: 2px solid #ECC561;
}


