@charset "utf-8";

html {
  height: 100%;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  height: 100%;
  width: 100%;
}

h1 {
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 5em;
  font-weight: 400;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.welcome {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}


.intro {
  padding: 0 1rem;

  .name {
    font-size: 3rem;
    font-weight: 600;
    border-bottom: 2px solid #5B0B93;
  }

  .about {
    display: block;
  }
}

.links {
  padding: 2%;
}

.links {
  left-margin: 2%;

  a:hover {
    border-bottom: 2px solid #5B0B93;
  }
}
