<div class="welcome">
  <div class="intro">
    <div class="name">
      allison larson
    </div>
    <div class="about">
      <p>
        I am a software developer in New York City.
        I like writing code, adventuring, and eating breakfast food.
      </p>
    </div>

    <div class="links">
      <span>
        <a href="http://twitter.com/allieelarson">Twitter</a>
        <a href="http://github.com/allisonlarson">Github</a>
        <a href="http://medium.com/@allisonlarson">Blog</a>
      </span>
    </div>
  </div>
</div>
