<div class="welcome">
  <div class="intro">
    <h1 class="name">allison larson</h1>
    <div class="about">
    I am fullstack web developer with a primary focus in ruby and javascript.
    I have the most fun with rails and the js framework of the week.
    I have a dog, live in New York City, sometimes go to Canada.
    Etc etc
    </div>
  </div>

  <div class="icons">
    <div class="icon">
      <a href="http://twitter.com/allieelarson">Twitter</a>
    </div>
    <div class="icon">
      <a href="http://github.com/allisonlarson">Github</a>
    </div>
    <div class="icon">
      <a href="resume.html">Resume</a>
    </div>
    <div class="icon">
      Blog
    </div>
  </div>
</div>
