<div class="welcome">
  <div class="intro">
    <h1 class="name">
      allison larson
    </h1>
    <p class="about">
    I am a software developer in New York City.
    I like writing code, adventuring, and eating breakfast food.
    </p>

    <div class="links">
      <a href="http://twitter.com/allieelarson">Twitter</a>
      <a href="http://github.com/allisonlarson">Github</a>
      <a href="http://medium.com/@allisonlarson">Blog</a>
    </div>
  </div>
</div>
