<div class="welcome">
  <div class="intro">
    <h1 class="name">
      allison larson
    </h1>
    <p class="about">
    I am a software engineer in Seattle, WA.
    <br />
    I write code at <a href="https://stripe.com">stripe</a>, <a href="/travel.html">travel</a>, and eat a lot of breakfast food.
    </p>
    <div class="links">
      <a href="http://twitter.com/allieelarson">Twitter</a>
      <a href="http://github.com/allisonlarson">Github</a>
      <a href="http://medium.com/@allisonlarson">Blog</a>
    </div>
  </div>
</div>
