<a href="/">Back</a>
<ul class="cities">
  <% data.locations.each do |city, features| %>
    <li><%= city %>
    <ul class="locations">
      <% features.each do |f| %>
        <li><%= f %></li>
      <% end %>
    </ul>
    </li>
  <% end %>
</ul>
<a href="/">Back</a>
